<div class="container" id="movies-all">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://play-lh.googleusercontent.com/0oH3J4rY4gf5pILGT_zNMRkdj78UK5lwrP9AxC3_wJ_goNEHmZlAwxAX3JS-7wEUuo8' %>)" >
        <h2><%= list.name %></h2>
        <h3><%= link_to "See details", list_path(list, anchor:'list'), class: "btn btn-primary" %></h3>
      </div>
    <% end %>
  </div>
  <p style="text-align:center"><%= link_to "+ New List", new_list_path(anchor: 'new-list'), class: "btn btn-primary btn-lg" %></p>
</div>
